<div class="card border-primary">
  <div class="card-header">
      Login:
  </div>
  <div class="card-body">
      <form method="post">
        <div class="form-group col-sm-6">
            <input type="text" class="form-control" name="usuario" id="usuario" [(ngModel)]="usuario" autofocus required/>
            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" required/>
            <input type="submit" (click)="login()" class="btn btn-lg btn-primary btn-block" value="Entrar"/>
        </div>

      </form>
   </div>
</div>
